page-expenses {
  ion-item-options {
    background:transparent;font-size:$menu_font_size;
    color: white !important;
    .add {
      background-color: $loginSignupGradiant !important;
    }
  }
}
